---
layout: main
title: Articles
---

<p class="intro_text">A collection of articles from around the internet made by TUI creators with a focus on Python.</p>

{% for post in site.data.external_posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{ "/assets/img/" | prepend: site.baseurl | append: post.img }})" href="{{ post.url }}" target="_blank"></a>
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{ post.url }}" target="_blank">{{ post.title }}</a></h2>
    <p>{{ post.summary }}</p>
    <span class="post-date">{{ post.date }}&nbsp;&nbsp;&nbsp;-&nbsp;</span>
    <span class="post-words">Written by {{ post.author }}</span>
  </div>
</article>
{% endfor %}
