---
layout: main
---
<p class="intro_text">This is a list of all libraries that are available for the Textual framework.
This page is set up to mirror the list on <a href="https://github.com/Textualize/transcendent-textual">Transcendent Textual</a>
</p>

{% assign sorted_libraries = site.data.libraries | sort %}

{% for library_pair in sorted_libraries %}
<article class="post">

  {% assign name = library_pair[0] %}
  {% assign lib_data = library_pair[1] %}
  {% assign image_path = "/assets/img/" | append: lib_data.img %}

  {% assign image_found = false %}
  {% for static_file in site.static_files %}
    {% if static_file.path == image_path %}
      {% assign image_found = true %}
      {% break %}
    {% endif %}
  {% endfor %}
  
  {% if image_found %}
    <a class="post-thumbnail"
    style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : lib_data.img }} )" 
    href="{{ lib_data.url }}"></a>
  {% else %}
    {% if lib_data.official %}
      <a class="post-thumbnail"
      style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : "textualize.png" }} )" 
      href="{{ lib_data.url }}"></a>
    {% endif %}
  {% endif %}

  <div class="post-content">
    <h2 class="post-title"><a href="{{ lib_data.url }}">{{ name }}</a></h2>
    <p>{{ lib_data.description }}</p>
    <span class="post-words">Author: {{ lib_data.author }}</span><br>
    {% if lib_data.official %}
      <span class="post-info-fancy">Official library</span><br>
    {% endif %}
    {% if lib_data.pushed_at %}
      <span class="post-info">
        Last Updated: {{ lib_data.pushed_at | date: "%B %d, %Y" }}
        {% else %}
        Last Updated: Unknown
      </span><br>
    {% endif %}
    {% if lib_data.stars %}
      <br><span class="post-info">✩ {{ lib_data.stars }}</span><br>
    {% endif %}
  </div>
</article>
{% endfor %}

