---
layout: main
---
This is a list of all libraries that are available for the Textual framework.
This page is set to mirror the list on [Transcendent Textual](https://github.com/Textualize/transcendent-textual)

{% include pagination.html %}

{% assign sorted_posts = paginator.posts | sort: 'title' %}
{% for post in sorted_posts %}
{% unless post.hidden %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.description }}</p>
    <span class="post-words">Author: {{ post.author }}</span><br>
    {% if post.official %}
      <span class="post-info">Official library</span>
    {% endif %}
  </div>
</article>
{% endunless %}
{% endfor %}

{% include pagination.html %}