$background-color: #1d2225;
$body-color: #e8dfdf;
$white: #2b2f31;
$lightgray: #616263;
$gray: #3b3b3b;
$dark-gray: #4a4a4a;
$dark-blue: #81a0d5;
$dark: #efe0e0; // for sidebar text bright


// $white: #242526;