$main-background: #1d2225;
$body-text-color: #e8dfdf;
$article-background: #2b2f31;
$lightgray: #616263;
$gray: #3b3b3b;
$dark-gray: #4a4a4a;
$light-blue: #96b2e2;
$dark: #efe0e0; // for sidebar text bright


// $white: #242526;