@import 'normalize';
@import 'syntax';
@import 'variables';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
  color: $body-text-color;
  background-color: $main-background;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 400;
}

a {
  color: $light-blue;
  text-decoration: none;
  transition: color 0.3s;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

img + em {
  text-align: center;
  display: block;
  margin-top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

blockquote {
  border-left: 5px solid #000;
  padding-left: 1.1rem;
  margin-left: 1rem;
  font-style: italic;
  color: #c8c2c2;
}

pre {
  padding: 1rem 2rem;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;

  code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
  }
}

table {
  border: 1px solid #aaa;
  background-color: #383333;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table td, table.blueTable th {
  border: 1px solid #363d41;
  padding: 3px 2px;
}
table tbody td {
  font-size: 13px;
}
table tr:nth-child(even) {
  background: #363d41;
}
table thead {
  background: #676c6e;
  background: linear-gradient(to bottom, #565a5c 0%, #444749 66%, #343738 100%);
  border-bottom: 1px solid #b1a9a9;
}
table thead th {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border-left: 1px solid #d0e4f5;
}
table thead th:first-child {
  border-left: none;
}

table tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #676c6e;
  background: linear-gradient(to bottom, #565a5c 0%, #444749 66%, #343738 100%);
  border-top: 2px solid #444;
}
table tfoot td {
  font-size: 14px;
}

.wrapper {
  max-width: 1250px;
  position: relative;
}

.post, .article-page {
  background-color: #2b2f31;
}

::-moz-selection {
  background: rgba(38, 57, 89, 0.8);
  color: $article-background;
}

::selection {
  background: rgba(38, 57, 89, 0.8);
  color: $article-background;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* - - - - - - - - - - Home Page Styles - - - - - - - - - - */
@import 'parts/home-page';

/* - - - - - - - - - - Post Page Styles - - - - - - - - - - */
@import 'parts/post-page';

/* - - - - - - - - - - Tag Styles - - - - - - - - - - */
@import 'parts/tag';

/* - - - - - - - - - - Media Styles - - - - - - - - - - */
@import 'media';
